.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 1em;
  width: 200px;
  gap: .5em;
  text-transform: capitalize;
  background: #E5E5E5;
}

.img {
  width: 100%;
}

.description {
  font-size: 1rem;
}

.product-quantity {
  display: flex;
  gap: .5em;
  justify-content: space-between;
  align-items: center;
}

.product-quantity > * {
  padding: .5em 0;
}

.product-quantity-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.product-quantity-btns div {
  text-align: center;
  padding: .5em;
  background-color: #D1D1D1;
  border-radius: 6px;
  cursor: pointer;
  height: max-content;
}