.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-text-color);
  border-radius: 10px;
  padding: 15px;
  width: 170px;
  gap: .5em;
}

.img {
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
}

.title {
  font-size: 1.25rem;
}

.description {
  font-size: 1rem;
}

.add-btn {
  width: 100%;
}